<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>510956625105-ii6nskhvndbnah540oe6un50330hugpj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510956625105-ii6nskhvndbnah540oe6un50330hugpj</string>
	<key>API_KEY</key>
	<string>AIzaSyD0J-PHJnwxCxeUqBgP5WnbGUbDdTIHzh4</string>
	<key>GCM_SENDER_ID</key>
	<string>510956625105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Recipe</string>
	<key>PROJECT_ID</key>
	<string>recipe-3ac7a</string>
	<key>STORAGE_BUCKET</key>
	<string>recipe-3ac7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510956625105:ios:01851e50d0849f0ec679f0</string>
</dict>
</plist>